h1 { 
    color: darkred;
    background-color:darkgrey;
}


h2 { 
    color: red;
    background-color: darkgray;
    font-size: 3rem;
}

/* article > p { 
    font-size: 3rem;
} */

.article_p { 
    font-size: 4rem;
}


#footer_p {
    color: rgb(255, 0, 0);
    background-color: rgb(248, 255, 240);
    font-size: 2rem;
}


li {
    font-size: 2rem;
    background-color: darkgoldenrod;
}

li:nth-child(2n) {
    background-color: darkmagenta;
}

* {
    margin: 0;
    padding: 20px;
}

img {
    max-width: 80vw;
    max-height: 50vw;

}
